<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/paper-styles/shadow.html">
<dom-module id="kak-editor">
  <style>
#contentEditor {
  @apply(--layout-fit);

  color: var(--kak-paper-color, #111111);
  background: var(--kak-paper-background, #FFFFFF);
  line-height: var(--kak-paper-line-height, 1.8);

  transition: background-color,color 0.6s;

  padding: 2em;

  overflow-y: scroll;

  white-space: pre-wrap;
}

#contentEditor:focus {
  outline: none;
}
  </style>
  <template>
    <div id="contentEditor" contenteditable="true"></div>
  </template>
</dom-module>
<script src="kak-editor.js"></script>
